{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% block main-content %}
<div class="container" style="padding-top: 70px;">
   <div class="row my-3">
      <div class="col-sm-6 offset-sm-3 bg-dark shadow" style="border-radius: 15px;">
         <h3>Customer <span class="text-warning">Registration</span></h3>
         <hr class="border-success border border-2">
         <form action="" method="post" novalidate class="shadow p-3 bg-dark">
            {% if messages %}
            {% for message in messages %}
            <p {% if message.tags %} class="alert alert-dismissible alert-{{message.tags}} mb-5" {% endif %} role="alert">{{message}}
               <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">&times;</button>
            </p>
            {% endfor %}
            {% endif %}
            {% csrf_token %}
            {% for fm in form %}
            <div class="form-group nb-3">
               {{fm.label_tag}} {{fm}}
               <small class="text-danger">{{fm.errors|striptags}}</small> <br>
            </div>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-outline-primary">
            <br>
            <div class="text-center text-primary fw-bold">
               <small>Existing User ? <a href="{% url 'login' %}" class="text-danger">Login Now</a>
               </small>
            </div>
            {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
            {% endif %}
         </form>
      </div>
   </div>
</div>
{% endblock main-content %}