{% extends 'app/base.html' %}
{% load static %}
{% block title %}Password Reset Complete{% endblock title %}
{% block main-content %}
<div class="container" style="padding-top: 50px;">
    <div class="row my-3">
        <h3>Welcome {{request.user.username|capfirst}} </h3>
        <div class="col-sm-6 offset-sm-3">
            <h4>Password Reset Complete</h4>
            <div>
                <iframe src="https://giphy.com/embed/ibolLe3mOqHE3PQTtk" width="200" height="200" frameborder="0"
                    class="giphy-embed" allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}