{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5" style="padding-top: 50px;">
    <div class="row">
        <h3>Welcome{{request.user.username|capfirst}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <h3>Change Password</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow-sm p-5 bg-dark">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group ">
                    {{fm.label_tag}} {{fm}}
                    <small class="text-danger">
                        {{fm.errors|striptags}}
                    </small><br>
                </div>
                {% endfor %}
                <input type="submit" class="btn btn-primary mt-4" value="Save">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}